.shoes-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.shoes-list__tile {
    margin: 1rem;
    text-align: center;
    width: 100%;
}
.shoes-list__label {
    font-weight: 700;
}
@media (min-width: 768px) and (max-width: 1299px) {
    .shoes-list__tile {
        width: calc(50% - 4rem);
    }
}
@media (min-width: 1300px) {
    .shoes-list__tile {
        margin: 1rem 0;
        width: 25%;
    }
}